{% if user.id == socialize.user.id %}
{# Show the avatar changer #}
<div id="rls-avatar-changer">
    <a href="javascript:void(0);" rls-avatar-changer>
        <img src="{{ socialize.user.getAvatarThumb(120, {'mode': 'crop'}) }}" alt="{{ socialize.user.name }}">
    </a>

    <div class="modal fade" id="rls-avatar-modal" tabindex="-1" role="dialog" aria-labelledby="rlsAvatarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form data-request="{{__SELF__}}::onSubmit" data-request-files>
                    <div class="modal-body">
                        <img id="rls-avatar-image" src="" alt="Uploaded picture">
                    </div>
                    <div class="modal-footer">
                        <input id="rls-avatar-input" type="file" class="hidden" name="image" accept="image/*">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button
                            type="submit"
                            class="btn btn-primary"
                            data-attach-loading>
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
{# Show the user avatar #}
<img src="{{ socialize.user.getAvatarThumb(120, {'mode': 'crop'}) }}" alt="{{ socialize.user.name }}" >
{% endif %}