{% if user.id == socialize.user.id %}
{# Show the avatar changer #}
<div id="rls-avatar-changer">
    <a href="javascript:void(0);" rls-avatar-changer>
        <img src="{{ socialize.user.getAvatarThumb(120, {'mode': 'crop'}) }}" alt="{{ socialize.user.name }}">
    </a>

    <div class="modal fade" id="rls-avatar-modal" tabindex="-1" role="dialog" aria-labelledby="rlsAvatarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                </div>
                <div class="modal-body">
                    <img id="rls-avatar-image" src="" alt="Uploaded picture">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{# Show the user avatar #}
<img src="{{ socialize.user.getAvatarThumb(120, {'mode': 'crop'}) }}" alt="{{ socialize.user.name }}" >
{% endif %}