{% set profile = socialize %}

{% if can_be_friend(profile.user.id) %}

<button
    type="button"
    class="btn btn-sm btn-primary"
    data-request="{{__SELF__}}::onSend"
    data-request-data="user: {{ profile.user.id }}"
    data-request-update="'{{__SELF__}}::actions': '#friendshipActions'"
    data-attach-loading>
        Add friend
</button>

{% elseif has_sent_friend_request_to(profile.user.id) %}

<button
    class="btn btn-sm btn-danger"
    data-request="{{__SELF__}}::onCancel"
    data-request-data="user: {{ profile.user.id }}"
    data-request-update="'{{__SELF__}}::actions': '#friendshipActions'"
    data-attach-loading>
    Cancel friend request
</button>

{% elseif has_friend_request_from(profile.user.id) %}

<button
    class="btn btn-sm btn-success"
    data-request="{{__SELF__}}::onAccept"
    data-request-data="user: {{ profile.user.id }}"
    data-request-update="'{{__SELF__}}::actions': '#friendshipActions'"
    data-attach-loading>
    Accept friend
</button>

<button
    class="btn btn-sm btn-danger"
    data-request="{{__SELF__}}::onDecline"
    data-request-data="user: {{ profile.user.id }}"
    data-request-update="'{{__SELF__}}::actions': '#friendshipActions'"
    data-attach-loading>
    Decline
</button>

{% elseif is_friend_with(profile.user.id) %}

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Friends
    </button>
    <ul class="dropdown-menu">
        <li>
            <a
                href="#"
                class="dropdown-item"
                data-request="{{__SELF__}}::onRemove"
                data-request-confirm="Are you sure?"
                data-request-data="user: {{ profile.user.id }}"
                data-request-update="'{{__SELF__}}::actions': '#friendshipActions'"
                data-attach-loading>
                Unfriend
            </a>
        </li>
    </ul>
</div>
{% endif %}
