{% if socialize.user %}

{% component 'cover' %}

{% component 'avatar' %}

<h1>{{ socialize.user.name }}'s Profile</h1>
<div class="p-2 mb-4">
    {% component 'friendship' %}
</div>

<p><strong>Username:</strong> {{ socialize.user.username }}</p>
<p><strong>Firstname:</strong> {{ socialize.user.name }}</p>
<p><strong>Surname:</strong> {{ socialize.user.surname }}</p>
<p><strong>E-mail:</strong> {{ socialize.user.email }}</p>

<h2>User dump</h2>
<code>
    {{ socialize.user }}
</code>

{% endif %}
